@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  margin: 0 0 0 0;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

div.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

div.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-color: #D0D0D0;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
}

div.form-input {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.form-error {
  padding: 10px;
  color: red
}

div.form-input > input[type=button] {
  margin-right: 10px;
}

div.result {
  margin-top: 20px;
  width: 100%;
}

div.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

button.tab-title-container {
  position: sticky;
  top: 0px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  background-color: #FFFFFF;
  color: #909090;
  border-color: #D0D0D0;
  border-width: 1px;
  border-style: dotted;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.tab-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
  padding-top: 10px
}

.element {
  margin-bottom: 10px;
  margin-left: 10px;
}

div.element-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-color: #D0D0D0;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  width: 300px;
  background: linear-gradient(#ADD8E6, #FFFFFF);
  border-radius: 5px;
}

div.element-time-container {
  color: #909090;
}

div.element-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 32px;
}

div.element-icon-container > img {
  width: 50px;
}
